header >div{
    font-size: 50px;
    text-align: center;
}
body{
    background-color: aqua;
}
footer{
    text-align: center;
    background-color: bisque;
    margin-left: auto;
    border-radius: 10px;
}
footer >div >p{
    margin-top: 0px;
}
.recipes{
    margin: 3px;
}
.chiken-image{
    text-align: center;
}
main >div >ul >li h4{
   background-color: rgb(154, 105, 31);
   border-radius: 5px; 
}